.about-left{
    padding: 5.5vw;
    background-color: white;
    color: #17173f;

}
.about-left h1{
    font-size: 30px;
    font-weight: 400;
}
.about-left p{
    color: grey;
}

.about-main{
    height: 50vh;
}

.page-title{
    padding: 5vw;
    color: white;
}
.page-title h1{
    font-size: 60px;

}

.about-dir {
    background-color: white;
}
.about-dir h6{
    color: 17173f;
    font-size: 14px;
    padding: 2vh 5.5vw;
}

.about-container{
    padding: 5vh 0;
}
