*{
    box-sizing: border-box;
    margin: 0;
    /* font-family:'Montserrat',sans-serif; */
    font-family: "Titillium Web", sans-serif;

}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #0d0d25;
}

.flex{
    display: flex;
    
}