header{
    height: 15vh;
    z-index: 1000;
    width: 100%;
}



.main{
    position: relative;
    background: url(img/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:120vh;
    width: 100%;
    opacity: 1;
    background-color: #ffffffb8;
}


.header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100vw;
    /* position: fixed; */
    /* background-color: white; */
    flex-wrap: 60vw;
    color: #2F3647;
    background: linear-gradient(to bottom right, #17173f2f, rgba(255, 255, 255, 0.217));
}
.logo-div img{
    height: 90px;
    padding: 10px;
}

.nav-div{
    /* width: 50%; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5vh ;
}

.nav-div li{
    padding: 3vh 2vw;
    color: #2F3647;
    font-weight: 700;
    position: relative;
}
.nav-div ul{
    display: flex;
    list-style-type: none;
}

.nav-div li a{
    text-decoration: none;
    /* position: relative; */
    color: #282D43;
    text-shadow: 1px 1px 1px white;
}
.nav-div ion-icon{
    font-size: 45px;
    padding: 10px 25px;
    display: none;
}


.home,.about,.services{
    cursor: pointer;
}

.line{
    width: 90%;
    margin: 0 5%;
    position: fixed;
}
.menu-icon-container{
    width: 20px ;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 10001;
    display: none;
    

}
.menu-icon{
    position: relative;
    width: 100%;

}
.line1,
.line2{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #0d0d25;
    z-index:99999;
}
.line1{
    top: -4px;

}
.line2{
    top: 4px;
}
.nav-desktop2{
   margin-bottom: -10vh;
}


@media (max-width:600px){
    .menu-icon-container{
        right: 5vw;
        top: 4vh;
        position: absolute;
        display: block;
        margin: 2vw;
        
    }
    .menu-icon-container.active .menu-icon .line1{
        top: 0;
        transform: rotateZ(45deg);
        transition-duration: 0.5s ease;
    }
    .menu-icon-container.active .menu-icon .line2{
        top: 0;
        transform: rotateZ(-45deg);
        transition-duration: 0.5s ease;

    }
    body{
        overflow-x: hidden;
    }
    .header-div{
        justify-content: space-between;
        background-color: #0d0d25;
        height: 10vh;
        width: 100%;
        /* position: fixed; */
        z-index: 2;
        background: linear-gradient(to bottom right, #17173f2f, rgba(255, 255, 255, 0.217));

    }
    .logo-div{
        width: auto;
    }
    .nav-div ul{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        margin: 0;
        padding: 0;
        left: 0;
        top:9vh;
        width: 100vw;
        height: 40vh;
        background-color: #0d0d25;
        z-index: 3;
        
        
    }
    .nav-div li{
        margin: 0;
        padding: 0;
        border-top: 1px solid white;
        /* border-bottom: 1px solid white; */
        border-radius: none;
        padding: 3vh 5vh ;
        width: 100vw;
        z-index: 100;
        overflow: hidden;
    }
    
    .nav-div ul.active-nav {
        display: flex;
        background: linear-gradient(to bottom right, #98B893, rgb(255, 255, 255));
        position: absolute;

    }
    .nav-div ion-icon{
        display: block;

    }
    .insta a{
        margin: 0;
    }
    .main{
        height: 80vh;
    }
    }
    

